In [50]:
import pandas as pd 
import numpy as np 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [27]:
df = pd.read_csv(r"c:\Users\Admin\Documents\DataSets\covid data.csv")

In [28]:
df

    Age  Gender  Fever   Cough        City Has_Covid
0    61    Male    NaN  strong     Solapur        no
1    24  Female   96.0    mild       Thane        no
2    70    Male  100.0    mild       Thane        no
3    30    Male    NaN    mild     Solapur        no
4    33  Female  103.0    mild      Mumbai       yes
..  ...     ...    ...     ...         ...       ...
95   44  Female  100.0    mild        Pune        no
96   74  Female   99.0  strong      Nagpur       yes
97   56  Female  103.0    mild      Nashik       yes
98   12    Male  103.0  strong  Aurangabad       yes
99   10  Female  102.0    mild  Aurangabad        no

[100 rows x 6 columns]

In [48]:
df['City'].value_counts()

City
Aurangabad    18
Solapur       17
Nashik        14
Pune          12
Mumbai        11
Thane         11
Nagpur         9
Kolhapur       8
Name: count, dtype: int64

In [29]:
df.isnull().sum()

Age           0
Gender        0
Fever        10
Cough         0
City          0
Has_Covid     0
dtype: int64

# Aaam Jindagi

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df.drop(columns=['Has_Covid'] , axis=1),df['Has_Covid'],test_size=0.2,random_state=42)

In [31]:
X_train.shape

(80, 5)

In [32]:
X_test.shape

(20, 5)

In [ ]:
#adding a simple Imputer to the fever col 
si = SimpleImputer()
X_train_fever=si.fit_transform(X_train[['Fever']])
# also for the test data 
X_test_fever = si.fit_transform(X_test[['Fever']])

In [ ]:
# applying Ordinal encoding on cough col 
oe =OrdinalEncoder(categories=[['mild','strong']])
X_train_cough = oe.fit_transform(X_train[['Cough']])
# for test data 
X_test_cough = oe.fit_transform(X_test[['Cough']])

In [57]:
#OneHotEncoding on gender and city
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.float64)
X_train_gender_city = ohe.fit_transform(X_train[['Gender','City']])

# OHE for the test data 
X_test_gender_city = ohe.fit_transform(X_test[['Gender','City']])
X_train_gender_city.shape
X_test_gender_city.shape

(20, 8)

In [67]:
#Extracting age
X_train_age = X_train.drop(columns=['Gender','Fever','Cough','City'],axis=1).values
# also from test data 
X_test_age = X_test.drop(columns=['Gender','Fever','Cough','City'],axis=1).values
X_train_age.shape

(80, 1)

In [71]:
X_train_transformed = np.concatenate((X_train_age,X_train_gender_city,X_train_cough,X_train_fever),axis=1)
#for testing dataset 
X_test_transformed = np.concatenate((X_test_age,X_test_gender_city,X_test_cough,X_test_fever),axis=1)

In [73]:
X_train_transformed.shape

(80, 11)

In [74]:
X_test_transformed.shape

(20, 11)

# Mentos Jindagi

In [75]:
from sklearn.compose import ColumnTransformer

In [78]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['Fever']),
    ('tnf2',OrdinalEncoder(categories=[['mild','strong']]),['Cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['Gender','City'])
],remainder='passthrough')

In [80]:
transformer.fit_transform(X_train).shape

(80, 11)

In [82]:
transformer.fit_transform(X_test).shape

(20, 11)